

<h2>Мороз Владислав Володимирович</h2>
<h2>ІС-03</h2>
<h2>ФІОТ</h2>
<h2>Національний технічний інститут України "Київський політехнічний інститут ім. Ігоря Сікорського"</h2>


<h5>19. Тестування програмного продукту </h5>
<p>У процесі супроводу системи класу ERP у користувачів різних клієнтів виникають зауваження до системи, які можуть мати характер повідомлення про помилку (зауваження) або побажання (вимоги) додаткової функціональності (доробка). Технічний директор фірми-розробника розглядає кожне зауваження і направляє його одному з тестувальників. Тестувальник перевіряє наявність проблеми, викладеної в зауваженні, і направляє зауваження одному з програмістів. Програміст виправляє зауваження і повідомляє про це тестувальника. Тестувальник перевіряє усунення проблеми і, якщо це так, повідомляє всіх про це і включає виправлений код у поточну версію; в іншому разі надсилає нове зауваження програмісту. В разі необхідності доробки технічний директор формулює постановку задачі і після обговорення її з одним з програмістів направляє її програмісту, а також одному з тестувальників. Далі все відбувається як у попередньому процесі: по завершенню розробки тестувальник перевіряє нову функціональність і повідомляє про неї. Раз на місяць технічний директор створює наступну версію продукту і повідомляє клієнтів про зміни в ньому у формі звіту по виправлених зауваженнях і виконаних доробках</p>